/* <- ----------------------------------- Making webbApp Responsive -------------------------- -> */

@media (max-width:400px) {

    .heading {
        margin-top: 8em;
        font-size: medium;
    }


    .heading {
        margin-top: 0;
        padding-top: 5rem;
        padding-bottom: 1rem;
    }

    .mainTAB {
        width: 80vw;
        min-height: 400px;
        margin-top: 2em;
        padding: 1.3em;
    }

    .inputDiv {
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
        height: 2em;
        width: 20em;
        padding: 1em;
    }

    .inputDiv input {
        border-radius: 30px;
        padding: 0 1em;
        margin-right: 1em;
    
    }

    .inputDiv button {
        border-radius: 30px;
        padding: 0 .5em;
        font-size: x-small;
    }



    .ListDiv {

        min-height: 200px;
        width: 18em;
        padding: 1em;
        margin: 1.5em 0em;

    }
}

@media (min-width:401px) and (max-width:810px) {
   

    .heading {
        margin-top: 0;
        padding-top: 5rem;
        padding-bottom: 1rem;
        font-size: medium;
    }

    .mainTAB {
        width: 55vw;
        min-height: 500px;
        margin-top: 2em;
        padding: 1em;
    }

    .inputDiv {
        margin-top: 2em;
        display: flex;
        justify-content: space-between;
        height: 2em;
        width: 20em;
        padding: 1em;
    }

    .inputDiv input {
        border-radius: 30px;
        padding: 0 1em;
        margin-right: 1em;
    }

    .inputDiv button {
        border-radius: 30px;
        padding: 0 1em;
        font-size: x-small;
    }



    .ListDiv {

        min-height: 200px;
        width: 18em;
        padding: 1em;
        margin: 1.5em 0em;

    }
}

@media (min-width:811px) and (max-width:1100px) {
   
    .heading {
        margin-top: 0em;
        font-size: large;
    }

    .mainTAB {
        width: 60vw;
        min-height: 400px;
        margin-top: 2em;
        padding: 3em;
    }

    .ListDiv {
        min-height: 200px;
        width: 18em;
        padding: 1em;
        margin: .5em 0em;

    }
}